<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Top Destination</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="toprow">
      <a href="{{ url_for('home_page') }}">
      <img src="static/plane.png" alt="this is a small plane" class = "topimage">
      </a>
      <h1 class="topwords">Top Destination</h1>
    </div>

    <div class="links">
      <center>
        <a href="{{ url_for('a_home') }}">Home</a> &nbsp | &nbsp
        <a href="{{ url_for('a_view') }}">View my Flights</a> &nbsp | &nbsp
        <a href="{{ url_for('a_change_create_flights') }}">Create New Flights & Change Status</a> &nbsp | &nbsp
        <a href="{{ url_for('a_add_airplane_airport') }}">Add Airplane & Airport</a> &nbsp | &nbsp
        <a href="{{ url_for('a_view_booking_agent') }}">View Booking Agents</a> <br>
        <a href="{{ url_for('a_view_customer') }}">View Frequent Consumers</a> &nbsp | &nbsp
        <a href="{{ url_for('a_report') }}">View Tickets Reports</a> &nbsp | &nbsp
        <a href="{{ url_for('a_revenue') }}">Revenue Comparison</a> &nbsp | &nbsp
        <a href="{{ url_for('a_destination') }}">View Top Destination</a> &nbsp | &nbsp
        <a href="{{ url_for('a_permission') }}">Grant Permissions</a> &nbsp | &nbsp
        <a href="{{ url_for('a_add_booking_agent') }}">Add Booking Agent</a> &nbsp | &nbsp
        <a href="/logout">Log Out</a>
      </center>
    </div>

  <div style="text-align: center">
    <h2 style="text-align: center;"><u> Top 3 Destinnations in the past 3 months</u></h2>
      {% for city in city_3m %}
        <p>{{city['destination']}}</p><br>
      {% endfor %}
    <h2 style="text-align: center;"> <u>Top 3 Destinnations in the past year</u></h2>
      {% for city in city_12m %}
        <p>{{city['destination']}}</p><br>
      {% endfor %}
  </div>