<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View My Flights</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->
</head>
<body>
    <div class="toprow">
        <a href="{{ url_for('home_page') }}">
        <img src="static/plane.png" alt="this is a small plane" class = "topimage">
        </a>
        <h1 class="topwords">View My Flights</h1>
    </div>

    <div class="links">
        <center>
            <a href="{{ url_for('b_home') }}">Home</a> &nbsp | &nbsp
            <a href="{{ url_for('b_view') }}">View My Flights</a> &nbsp | &nbsp
            <a href="{{ url_for('b_search_purchase') }}">Search for Flights & Purchase Tickets</a> &nbsp | &nbsp
            <a href="{{ url_for('b_commission') }}">View my Commission</a> &nbsp | &nbsp
            <a href="{{ url_for('b_topcustomer') }}">View Top5 Customers</a> &nbsp | &nbsp
            <a href="/logout">Log Out</a>
        </center>
    </div>

    <!-- Search flight -->
    <div style="text-align: center">
        <script>
        function showDiv(divId, element) {
            document.getElementById(divId).style.display = element.value == 'dates' ? 'block' : 'none';
        }
        function showDiv2(divId, element) {
            document.getElementById(divId).style.display = element.value == 'location' ? 'block' : 'none';
        }
        function showDiv3(divId, element) {
            document.getElementById(divId).style.display = element.value == 'both' ? 'block' : 'none';
        }
      </script>

      <form action="/bviewshow" method="POST">
      <label for="way"><h2><u>Search flights based on</u></h2> <br></label>
      <select name = "way"  id="select_way" onchange="showDiv('select_date', this); showDiv2('select_location', this); showDiv3('select_both', this)" style="width: auto; height: 60px">
          <option value="nothing">----please select----</option>
          <option value="dates">Specify a range of dates</option>
          <option value="location">Departure/Arrival Location</option>
          <option value="both">Dates and Location</option>
      </select> <br><br>

      <div id="select_date">
          <h3><u>Please specify a range of days to search flights</u></h3> <br>
          <label for="start_date">Starting Date</label> <br>
          <input type="date" name="start_date" value="" > <br><br>
          <label for="end_date">Ending Date</label> <br>
          <input type="date" name="end_date" value="" > <br><br>
      </div> <br><br>

      <div id="select_location">
          <h3><u>Please specify both the information below to search flights</u></h3> <br>
          <label for="depart_city_or_airport">Departure Airport Name/ City Name</label> <br>
          <input type="text" name="depart_city_or_airport" value="" > <br><br>
          <label for="arrive_city_or_airport">Arrival Airport Name/ City Name</label> <br>
          <input type="text" name="arrive_city_or_airport" value="" > <br><br>
      </div> <br><br>

      <div id="select_both">
          <h3><u>Please specify all the information below to search flights</u></h3> <br>
          <label for="start_date1">Starting Date</label> <br>
          <input type="date" name="start_date1" value="" > <br><br>
          <label for="end_date1">Ending Date</label> <br>
          <input type="date" name="end_date1" value="" > <br><br>
          <label for="depart_city_or_airport1">Departure Airport Name/ City Name</label> <br>
          <input type="text" name="depart_city_or_airport1" value="" > <br><br>
          <label for="arrive_city_or_airport1">Arrival Airport Name/ City Name</label> <br>
          <input type="text" name="arrive_city_or_airport1" value="" > <br><br>
      </div> <br><br>

      <button type="Search" name="button" class="button button1">Search</button>
      </form>
    </div>

    {% if error %}
            <h4 style="color: firebrick; text-align: center">{{error}}</h4>
    {% endif %}

    {% if flights %}
        <div class="showflights">
            <h2 style="text-align: center">Search results</h2>
            <table>
              <!--<caption>My Upcoming Flights</caption>-->
              <tr>
                <th>Flight Number</th>
                <th>Airline Name</th>
                <th>Airplane ID</th>
                <th>Depature Airport</th>
                <th>Arrival Airport</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th>Customer Email</th>
                <th>Ticket Number</th>
              </tr>

              {% for flight in flights %}
              <tr>
                <td>{{flight.flight_num}}</td>
                <td>{{flight.airline_name}}</td>
                <td>{{flight.airplane_id}}</td>
                <td>{{flight.departure_airport}}</td>
                <td>{{flight.arrival_airport}}</td>
                <td>{{flight.departure_time}}</td>
                <td>{{flight.arrival_time}}</td>
                <td>{{flight.price}}</td>
                <td>{{flight.customer_email}}</td>
                <td>{{flight.ticket_id}}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if no_flight %}
      <h2 style="text-align: center">No Upcoming Flights of {{airline_name}} based on your search</h2>
    {% endif %}
