<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="toprow">
      <img src="static/plane.png" alt="this is a small plane" class = "topimage">
      <h1 class="topwords">Welcome to our airplane booking system and this is our final project!</h1>
    </div>

    <div class="links">
      <center>
        <a href="{{ url_for('home_page') }}">Home</a> &nbsp | &nbsp
        <a href="{{ url_for('login') }}">Log In</a> &nbsp | &nbsp
        <a href="{{ url_for('register') }}">Register</a> &nbsp | &nbsp
        <a href="{{ url_for('flight') }}">View Flight Status</a> &nbsp
      </center>
    </div>

    <div class="body">
      <img src="static/big_plane.png" alt="This is a big plane picture" class="bodyimage">
      <div class="introduction">
      <h1>Thank you for visiting!</h1>
      <p>In our website, without logging in, you could search for upcoming flights or the
      status of flights. <br><br> Please press View Flight Status for this function. <br><br> If
      you are a new comer, please register first based on your identity. <br><br> If you already have an account, please click log in. <br><br> Thank you!
     </p>
     </div>
    </div>
  </body>
</html>
